<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>Admin Home</title>
</head>
<body>
	<div layout:fragment="content">
		<p>
			Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)
		</p>
		<p sec:authorize="isAuthenticated()">
			<a href="userform">Create user</a>
			<br />
			<a href="users">User list</a>
		</p>
	</div>

	<a th:href="@{/addUser}">Create user</a>
	<br />

</body>

</html>